@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


body {
    background: #ffc77f;
    font-family: "Roboto Slab", serif;
    text-align: center;
}

.imagens{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.catarata{
    width: 700px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 20px;
}