@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    background: #5c92d8;
    font-family: "Roboto Slab", serif;
    text-align: center;
    color: white;
}

.mapa {
    position: relative;
    width: 820px;
    height: 500px;
    margin: 30px auto;
    
    /* Esta é a imagem do mapa */
    background: url("../img/mapa1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.continente {
    position: absolute;
    /* Removemos o background-image daqui. A caixa será transparente! */
    cursor: pointer; 
}

/* O tamanho e a posição de cada "caixa invisível" de clique */
.america1 {
    width: 240px;
    height: 260px;
    left: 54px;
    top: 105px;
}

.america2 {
    width: 240px;
    height: 260px;
    left: 210px;
    top: 322px;
}

.europa {
    width: 120px;
    height: 100px;
    left: 480px;
    top: 110px;
}

.africa {
    width: 150px;
    height: 180px;
    left: 468px;
    top: 276px;
}

.asia {
    width: 300px;
    height: 220px;
    left:690px;
    top: 120px;
}

.oceania {
    width: 150px;
    height: 120px;
    left: 770px;
    top: 355px;
}

/* Código para mostrar a plaquinha com o nome ao passar o mouse */
.continente span {
    display: none;
    background: #333;
    color: white;
    padding: 5px 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 5px;
}

.continente:hover span {
    display: block;
}